.cartButton {
    cursor: pointer;
    position: relative;
}

.quantity {
    position: absolute;
    top: 50%;  
    right: 0;
    background-color: red;
    padding: 4px;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
    font-size: 12px;
}